@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$smallPhone: 368px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #e08709;
$verde: #71b100;
$blanco: #ffffff;
$grey: #e1e1e1;
$dark_grey: #333333;

// Separación
$separacion: 5rem;

// Fuentes
$light: 300;
$normal: 400;
$bold: 700;
$bolder: 900;
