.footer {
	padding: $separacion / 2 0;
	background-color: $dark_grey;

	.contenedor-footer {
		padding-top: $separacion / 2;
	}

	.copyright {
		color: $blanco;
		text-align: center;
	}
}

.seccion {
	margin-bottom: 0;
}